<div class="quizInfo">
    <div class="left">
        <button>
            <mat-icon class="arrow-icon" aria-hidden="false" fontIcon="arrow_back"></mat-icon>
        </button>
        <input class="input-style" type="text" placeholder="  Insira o nome do seu quiz" [(ngModel)]="quiz.name">
        <div class="choose-image align">
            <mat-icon class="icon-image" aria-hidden="false" fontIcon="image"></mat-icon>
            <p>Insira uma imagem</p>
        </div>
        <div class="button-align">
            <button class="button-style color-button1" (click)="goToScreen(1)">Editar Perguntas</button>
        </div>
        <button class="draft-button" type="submit">Salvar Rascunho</button>
    </div>
    <div class="right align align-between">
        <textarea maxlength=256 class="input-style textarea-style" placeholder="Insira a descrição aqui" [(ngModel)]="quiz.description"></textarea>
        <div>
            <div class="iconInfo">
                <div class="iconDiv">
                    <mat-icon class="tagIcon color-tag-icon" fontIcon="bookmarks"></mat-icon>
                </div>
                <p class="iconText">Tags</p>
                <input class="input-style input-icon-style" type="text" placeholder="  Insira as Tags" [(ngModel)]="quiz.tags[0]">
            </div>
            <div class="iconInfo categorySpacer">
                <div class="iconDiv">
                    <mat-icon class="tagIcon color-category-icon" fontIcon="category"></mat-icon>
                </div>
                <p class="iconText">Categorias</p>
                <select class="input-style input-icon-style" type="text" placeholder="  Insira as Categorias" [(ngModel)]="quiz.category">
                    @for (preset_category of preset_categories; track $index){
                        <option value="{{preset_category.name}}">{{preset_category.name}}</option>
                    }
                </select>
            </div>
        </div>
        <div class="button-align">
            <button class="button-style color-button2" type="submit">Excluir Quiz</button>
            <button class="button-style color-button3" style="margin-left: 2vw;" type="submit" (click)="publishButton()">Publicar quiz</button>
        </div>
    </div>
</div>