<app-sidenav>
    <div class="quiz-details">
        <button class="back-button">
            <mat-icon class="mat-icon" aria-hidden="false" fontIcon="arrow_back"></mat-icon>
        </button>
        <h1>Nome Quiz</h1>
      </div>
      <div class="content">
        <div class="quiz-info">
          <div class="quizimagetext">
            <img src="../../assets/images/quizimg_placeholder2.jpg" alt="Quiz Image" class="quiz-image">
            <p class="quiz-description">
            Lorem ipsum dolor sit amet. Est ratione velit non illo sint aut voluptas porro aut tempore recusandae. Vel commodi natus ut minus laboriosam ad Quis reiciendis et galisum cupiditate.
            </p>
          </div>
          <div class="stats">
            <div class="stat-item">
              <mat-icon class="mat-icon icon-sidenav quizinfo-color1" aria-hidden="false" fontIcon="flag"/>
              <p>10k<br>Jogados</p>
            </div>
            <div class="stat-item">
              <mat-icon class="mat-icon icon-sidenav quizinfo-color2" aria-hidden="false" fontIcon="rocket_launch"/>
              <p>400<br>Jogadores em Ranking</p>
            </div>
            <div class="stat-item">
              <mat-icon class="mat-icon icon-sidenav quizinfo-color3" aria-hidden="false" fontIcon="star"/>
              <p>700<br>Favoritado</p>
            </div>
          </div>
          <div class="tags-category">
            <div class="tags">
              <mat-icon class="mat-icon icon-sidenav quizinfo-color3" aria-hidden="false" fontIcon="bookmarks"/>
              <p>Tags<br>#Tags #Tags</p>
            </div>
            <div class="category">
              <mat-icon class="mat-icon icon-sidenav quizinfo-color1" aria-hidden="false" fontIcon="folder"/>
              <p>Categoria<br>Nome categoria</p>
            </div>
          </div>
        </div>
        <div class="ranking">
          <h2>Ranking</h2>
          <ul>
            <li><span>#1</span> NomeUser <span>1000 pts</span></li>
            <li><span>#2</span> NomeUser <span>1000 pts</span></li>
            <li><span>#3</span> NomeUser <span>1000 pts</span></li>
            <li><span>#4</span> NomeUser <span>1000 pts</span></li>
            <li><span>#5</span> NomeUser <span>1000 pts</span></li>
            <li><span>#6</span> NomeUser <span>1000 pts</span></li>
          </ul>
          <button class="play-button">Jogar</button>
        </div>
      </div>      
</app-sidenav>