<form>
    <mat-card class="login-card">
        <div class="grid-container">
            <div class="grid-item item1">
                <a routerLink="/">
                    <img class="logo-image" src="../../assets/images/Logo_v2.svg">
                </a>
                <p class="title-style">Redefinir Senha</p>
            </div>
            <div class="grid-item item2">
                <label>Email</label><br>
                <input class="input-style" type="email">
            </div>
            <div class="grid-item item3">
                <label>Senha</label><br>
                <input class="input-style" type="password">
            </div>
            <div class="grid-item item4">
                <label>Confirmar Senha</label><br>
                <input class="input-style" type="password">
            </div>
            <div class="grid-item item5">
                <button class="button-style" type="submit" routerLink="/login">Confirmar</button>
            </div>  
            <div class="grid-item item6"></div>
            <div class="grid-item item7">
                <img class="info-image" src="../../assets/images/Info.png">
            </div>
        </div>
    </mat-card>
</form>
