@import url('../app.component.scss');

@import url('../register/register.component.scss');


.grid-container {
    align-items: center;
    justify-content: center;
}

.item1 {
    grid-column: 1;
    grid-row: 1;
}
//Email
.item2 {
    grid-column: 1 / span 2;
    grid-row: 2;
}
//Senha
.item3 {
    grid-column: 1;
    grid-row: 3;
}
//Confirmar Senha
.item4 {
    grid-column: 2;
    grid-row: 3;
}
//Login
.item5 {
    grid-column: 1;
    grid-row: 4;
}
//?
.item6 {
    grid-column: 2;
    grid-row: 5;
}
//Imagem
.item7 {
    grid-column: 3;
    grid-row: 1 / span 5;
    display: flex;
    align-items: center;
}

.subtitle-style {
    font-size: 22px;
}