<app-sidenav>
    <!-- <mat-card class="app-card"> -->
        <!-- <div class="top-card">
            <img class="logo-image" src="../../assets/images/Logo_v2.svg">
            <div class="align-center">
                <button class="button-add-quiz">
                    <mat-icon>add</mat-icon>
                </button>
                <button class="user-button">
                    <mat-icon class="user-icon" aria-hidden="false" fontIcon="person_outline"></mat-icon>
                    <span>User</span>
                </button>
            </div>
        </div> -->
        <div class="homescreen-align">
            <div class="align-between">
                <div class="big-purple-card">
                    <div class="text-style">
                        <p>JOGUE COM AMIGOS</p>
                        <p>FAÇA SEUS PROPRIOS QUIZZES</p>
                    </div>
                </div>
                <a routerLink="/topquiz">
                    <div class="medium-purple-card">
                        <div class="purple-card-tint"></div>
                        <div class="text-style">
                            <p>TOP QUIZZES DA SEMANA</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="options">
                <div class="align-between">
                    <p class="options-text">CATEGORIAS</p>
                    <u class="see-all-text">VER TUDO</u>
                </div>
                <div class="small-purple-card">
        
                </div>
            </div>
            <div class="options">
                <div class="align-between">
                    <p class="options-text">MELHORES ESCOLHAS PARA VOCÊ</p>
                    <u class="see-all-text">VER TUDO</u>
                </div>
                <div class="small-purple-card">
        
                </div>
            </div>
        </div>
    <!-- </mat-card> -->
</app-sidenav>