@import url('../app.component.scss');
@import url('../register/register.component.scss');
 
.align-between {
    display: flex;
    justify-content: space-between;
}

.user-button {
    display: flex;
    align-items: center;
    font-size: 30px;
    border-radius: 30px;
    padding-left: 1.5rem;
}

.user-icon {
    width: 3vw;
    height: 4vh;
    font-size: 40px;
}

.big-purple-card {
    margin-top: 3vh;
    background-image: linear-gradient( #DEB9F4, #BC8BDA, #A459D1);
    width: 50vw;
    height: 25vh;
    border-radius: 1vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3vw;
}

.medium-purple-card {
    margin-top: 3vh;
    background-image: linear-gradient(#DEB9F4, #BC8BDA, #A459D1);
    width: 37vw;
    height: 25vh;
    border-radius: 1vh;
    transition: 0.3s;
    display: flex;
    justify-content: start;
    align-items: center;
}

.medium-purple-card:hover {
    cursor: pointer;
    .purple-card-tint{
        opacity: 100%;
    }
}

.purple-card-tint {
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 1vh;
    background-image: linear-gradient( #e7bfba, #e68568, #f38134);
    opacity: 0%;
    transition: 0.3s;
}

.small-purple-card {
    background-image: linear-gradient( #DEB9F4, #BC8BDA, #A459D1);
    width: 15vw;
    height: 15vh;
    border-radius: 1vh;
}

.text-style {
    font-size: 2em;
    font-weight: bold;
    color: black;
    user-select: none;
    margin-left: 3vw;
    z-index: 1;
}

.options {
    margin-top: 5vh;
}

.options-text {
    color: #F266AB;
    font-weight: bold;
    font-size: 1.5em;
}

.see-all-text {
    color: #696F79;
    font-size: 1.4em;
}

.homescreen-align{
    margin-left: 3vw;
    margin-right: 3vw;
}

.cards {
    width: 90vw;
    height: 15vh;
    display: flex;
    flex-direction: row;
    row-gap: 1vh;
    column-gap: 1.4vw;
    // row-gap: 10vw;
    // column-gap: 1vh;
}