@import url('../app.component.scss');

.itemTitle {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 1145px;
    height: 87px;
    left: 102px;
    top: 141px;
    background: linear-gradient(180deg, #DEB9F4 0%, #BC8BDA 50.99%, #A459D1 100%);
    border-radius: 15px;
  }