<form>
    <mat-card class="login-card">
        <div class="grid-container">
            <div class="grid-item item1">
                <img class="logo-image" src="../../assets/images/Logo_v2.svg">
            </div>
            <div class="grid-item item2">
                <input class="input-style" type="text">
            </div>
            <div class="grid-item item3">
                <button class="button-style" type="submit"> + </button>
            </div>  

        </div>
    </mat-card>
</form>