/* * * * * * * * *\
    Grid  Start
\* * * * * * * * */

$container-width: 82vw;

.grid-container {
    display: grid;
    width: $container-width;
    height: 100%;
    margin-left: calc(50% - ( $container-width / 2 ) );
    grid-template-columns: 50% 50%;
    grid-template-rows: 12% auto 20%;
}

.grid-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//Nome Quiz
.item1 {
    grid-column: 1;
    grid-row: 1;
}
//Ranking Title
.item2 {
    grid-column: 2;
    grid-row: 1;
}
//Left Content
.item3 {
    grid-column: 1;
    grid-row: 2;
}
//Rankings
.item4 {
    grid-column: 2;
    grid-row: 2;
}
//Jogar Novamente
.item5 {
    grid-column: 1 / span 2;
    grid-row: 3;
}

/* * * * * * * * *\
     Grid  End
\* * * * * * * * */