<div class="questioncard-card" (click)="editQuestion()">
    <div class="grid-container">
        <div class="grid-item item1">
            <div class="questioncard-colorbox colorbox-orange">
                <p class="questioncard-text">{{ question.pergunta }}</p>
            </div>
        </div>
        <div class="grid-item item2">
            <div class="questioncard-colorbox colorbox-yellow">
                <p class="questioncard-text">{{ question.resposta1 }}</p>
            </div>
        </div>
        <div class="grid-item item3">
            <div class="questioncard-colorbox colorbox-pink">
                <p class="questioncard-text">{{ question.resposta2 }}</p>
            </div>
        </div>  
        <div class="grid-item item4">
            <div class="questioncard-colorbox colorbox-cyan">
                <p class="questioncard-text">{{ question.resposta3 }}</p>
            </div>
        </div>
        <div class="grid-item item5">
            <div class="questioncard-colorbox colorbox-purple">
                <p class="questioncard-text">{{ question.resposta4 }}</p>
            </div>
        </div>
    </div>
</div>