.text-field__14-129 {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 4px;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: #ffffff;
    width: 259px;
  }
  .frame-243__I14-129-13-947 {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    width: -webkit-fill-available;
    border-radius: 0px;
    background-color: #ffffff;
    height: 27px;
    position: relative;
  }
  .text-label__I14-129-2-17 {
    color: #666666;
    font-size: 16px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 400;
    text-wrap: nowrap;
    width: 48px;
    height: 24px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
  }
  
  .text-field__I14-129-2-18 {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    width: -webkit-fill-available;
    border-radius: 12px;
    border: 1px solid #66666659;
    height: 56px;
    position: relative;
  }