<div class="grid-container">
    <div class="grid-item item1">
        <div class="userpage-profile-photoplaceholder" [ngStyle]="{'background-image': 'url(' + user.profile_picture + ')'}"></div>
    </div>
    <div class="grid-item item2">
        <p class="userpage-profile-username">{{ user.name }}</p>
    </div>
    <div class="grid-item item3">
    </div>  
    <div class="grid-item item4">
        <div class="userpage-profile-icondiv">
            <mat-icon class="mat-icon icon-sidenav userpage-profile-color1" aria-hidden="false" fontIcon="flag"/>
        </div>
        <div class="userpage-profile-scorediv">
            <p class="userpage-profile-numbers ">{{ user.quiz_created }}</p>
            <p class="userpage-profile-text">Quizzes Criados</p>
        </div>
    </div>
    <div class="grid-item item5">
        <div class="userpage-profile-icondiv">
            <mat-icon class="mat-icon icon-sidenav userpage-profile-color2" aria-hidden="false" fontIcon="star"/>
        </div>
        <div class="userpage-profile-scorediv">
            <p class="userpage-profile-numbers ">{{ user.quiz_completed }}</p>
            <p class="userpage-profile-text">Quizzes Completados</p>
        </div>
    </div>
    <div class="grid-item item6">
        <div class="userpage-profile-icondiv">
            <mat-icon class="mat-icon icon-sidenav userpage-profile-color3" aria-hidden="false" fontIcon="favorite"/>
        </div>
        <div class="userpage-profile-scorediv">
            <p class="userpage-profile-numbers ">{{ user.quiz_favorite }}</p>
            <p class="userpage-profile-text">Quizzes Favoritos</p>
        </div>
    </div>
    <div class="grid-item item7">
    </div>
</div>