<app-sidenav>
    <div class="quizInfo">
        <div class="left">
            <button>
                <mat-icon class="arrow-icon" aria-hidden="false" fontIcon="arrow_back"></mat-icon>
            </button>
            <input class="input-style" type="text" placeholder="  Insira o nome do seu quiz">
            <div class="choose-image align">
                <mat-icon class="icon-image" aria-hidden="false" fontIcon="image"></mat-icon>
                <p>Insira uma imagem</p>
            </div>
            <div class="button-align">
                <button class="button-style color-button1" type="submit">Incluir pergunta</button>
                <button class="button-style color-button1" style="margin-left: 2vw;" type="submit">Editar quiz</button>
            </div>
            <button class="draft-button" type="submit">Salvar Rascunho</button>
        </div>
        <div class="right align align-between">
            <div class="mt">
                <div class="iconInfo">
                    <div class="iconDiv">
                        <mat-icon class="tagIcon color-tag-icon" fontIcon="bookmarks"></mat-icon>
                    </div>
                    <p class="iconText">Tags</p>
                    <input class="input-style input-icon-style" type="text" placeholder="  Insira as Tags">
                </div>
                <div class="iconInfo">
                    <div class="iconDiv">
                        <mat-icon class="tagIcon color-category-icon" fontIcon="category"></mat-icon>
                    </div>
                    <p class="iconText">Categorias</p>
                    <input class="input-style input-icon-style" type="text" placeholder="  Insira as Categorias">
                </div>
            </div>
            <div class="button-align">
                <button class="button-style color-button2" type="submit">Excluir Quiz</button>
                <button class="button-style color-button3" style="margin-left: 2vw;" type="submit">Salvar quiz</button>
            </div>
        </div>
    </div>
</app-sidenav>
