<app-sidenav>
    <div class="left">
        <button>
            <mat-icon class="arrow-icon" aria-hidden="false" fontIcon="arrow_back"></mat-icon>
        </button>
        <input class="input-style" type="text" placeholder="  Insira o nome do seu quiz">
        <div class="choose-image align">
            <mat-icon class="icon-image" aria-hidden="false" fontIcon="image"></mat-icon>
            <p>Insira uma imagem</p>
        </div>
        <div class="button-align">
            <button class="button-style" type="submit">Incluir pergunta</button>
            <button class="button-style" style="margin-left: 2vw;" type="submit">Editar quiz</button>
        </div>
        <button class="draft-button" type="submit">Salvar Rascunho</button>
    </div>
</app-sidenav>
