.bg-image {
    background-image: url('../assets/images/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login-card {
    background-color: #FFFFFF;
    width: 85vw;
    height: 85vh;
    border-radius: 1%;
    stroke: #FFB84C;
    border-width: thick;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}