@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

.container {
  text-align: center;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #cf6cfa, #cf6cfa, #cf6cfa);
  border-radius: 10px;
  padding: 5px;
}

.back-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}

h1 {
  background-color: #cf6cfa;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.cards {
  display: flex;
  padding: 60px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 220px;
  height: 210px;
  background-color: #cf6cfa;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-rank {
  font-size: 1.5em;
  margin-bottom: 1px;
}

.card-content {
  font-size: 1em;
}
