<div class="grid-container">
    <div class="grid-item item1">
        <p class="userpage-clickables-title">Rankings</p>
    </div>
    <div class="grid-item item2">
        <div class="userpage-clickables-dispdiv"></div>
    </div>
    <div class="grid-item item3">
        <div class="row-align">
            <p class="userpage-clickables-title">Favoritos</p>
            <button class="userpage-clickables-showall">
                <p class="userpage-clickables-showall-text">Ver todos</p>
            </button>
        </div>
    </div>  
    <div class="grid-item item4">
        <div class="userpage-clickables-dispdiv"></div>
    </div>
    <div class="grid-item item5">
        <div class="row-align">
            <p class="userpage-clickables-title">Coleção</p>
            <button class="userpage-clickables-showall">
                <p class="userpage-clickables-showall-text">Ver todos</p>
            </button>
        </div>
    </div>
    <div class="grid-item item6">
        <div class="userpage-clickables-dispdiv"></div>
    </div>
    <div class="grid-item item7">
    </div>
    <div class="grid-item item8">
    </div>
</div>