<form>
    <mat-card class="login-card">
        <div class="grid-container">
            <div class="grid-item item1">
                <img class="logo-image" src="../../assets/images/Logo_v2.svg">
                <p class="title-style">Criar conta</p>
                <p class="subtitle-style">Já tem uma conta? <u routerLink="/login">Login</u></p>
            </div>
            <div class="grid-item item2">
                <label>Nome</label><br>
                <input class="input-style" type="text">
            </div>
            <div class="grid-item item3">
                <label>Sobrenome</label><br>
                <input class="input-style" type="text">
            </div>  
            <div class="grid-item item4">
                <label>Email</label><br>
                <input class="input-style" type="email">
            </div>
            <div class="grid-item item5">
                <label>Senha</label><br>
                <input class="input-style" type="password">
            </div>
            <div class="grid-item item6">
                <label>Confirmar Senha</label><br>
                <input class="input-style" type="password">
            </div>
            <div class="grid-item item7">
                <button class="button-style" type="submit">Criar Conta</button>
            </div>  
            <div class="grid-item item8"></div>
            <div class="grid-item item9">
                <img class="info-image" src="../../assets/images/Info.png">
            </div>
        </div>
    </mat-card>
</form>